# Dependencies
node_modules/

# Generated thumbnails
# images/thumbnails/ (Thumbnails will be committed)

# macOS
.DS_Store

# Log files
npm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example
